{% extends "base.html.twig" %}
{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}
        <section id="team" class="team_area pt-3 pb-130 mt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center pb-25">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                {{ user.firstname }} {{ user.lastname }}               
                            </h4>
                        </div>
                    <!-- section title -->
                    </div>
                </div>
                <!-- row -->
                <div class="row justify-content-center team_active mt-5">
                    <div class="col-lg-4 col-md-8 col-sm-10">
                        <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                            <img src="{{ user.logo }}" alt="userpic">
                                <div class="team_content">
                                    <h4 class="team_name">
                                        <a href="#0">
                                            {{ user.username }}                                         
                                        </a>
                                    </h4>
                                    <p>
                                        {{ user.email }}                             
                                    </p>
                                    <ul class="social">
                                        <li>
                                            <a href="#0">
                                                <i class="lni lni-facebook-filled"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#0">
                                                <i class="lni lni-twitter-original"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#0">
                                                <i class="lni lni-linkedin-original"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <!-- single team -->
                        </div>
                        <div class="col-lg-4 col-md-8 col-sm-10">
                            <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s"></div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, id perspiciatis. Tempora eiusaccusamus possimus illum! Iste voluptates ad facere, ratione eaque, voluptatum dolorum, explicabo enim saepe praesentium deleniti repellat.                              
                            </p>
                            <br>
                                <h4>
                                    Ses équipes                                
                                </h4>
                                <ul>
                                    {% for team in user.teams %}
                                    <li>
                                        <a href="/team-detail/{{team.id}}">
                                            {{team}}
                                        </a>
                                    <il>
                                    {% endfor %}
                                </ul>
                                <br>
                                    <h4>
                                        Ses projets                                    
                                    </h4>
                                    <ul>
                                        <li>
                                            <a href="">
                                            projet 1
                                            </a>
                                           
                                        </il>
                                        <li>
                                            <a href="">
                                            projet 2
                                            </a>
                                           
                                        </il>
                                        <li>
                                            <a href="">
                                            projet 3
                                            </a>
                                           
                                        </il>
                                    </ul>
                                    <button type="button" class="btn btn-outline-primary mt-3">
                                        Ajouter en collaborateur                               
                                    </button>
                                </div>
                            <!-- Infos -->
                            </div>
                        </div>
                    <!-- container -->
                    </section>
        
            {% endblock %}
            